Repository securefederatedai/openfl, pull requests merged in 2024-12, with the labels that each got.

#1203 Restore `openfl-tutorials` as installable package
  .github/workflows/experimental_workflow_tests.yml
  openfl-tutorials/__init__.py
  openfl-tutorials/experimental/workflow/workflow_interface_requirements.txt
  setup.py
Labels: workflow_interface

#1189 Bump Python version to 3.9 - 3.11
  .github/workflows/docker-bench-security.yml
  .github/workflows/double_ws_export.yml
  .github/workflows/experimental_workflow_tests.yml
  .github/workflows/hadolint.yml
  .github/workflows/lint.yml
  .github/workflows/pki.yml
  .github/workflows/pytest_coverage.yml
  .github/workflows/straggler-handling.yml
  .github/workflows/task_runner_e2e.yml
  .github/workflows/taskrunner.yml
  .github/workflows/taskrunner_eden_pipeline.yml
  .github/workflows/tr_docker_gramine_direct.yml
  .github/workflows/tr_docker_native.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  Jenkinsfile
  README.md
  docs/about/features_index/taskrunner.rst
  docs/developer_guide/running_the_federation.notebook.rst
  docs/developer_guide/running_the_federation_with_gandlf.rst
  docs/get_started/installation.rst
  openfl-tutorials/experimental/workflow/workflow_interface_requirements.txt
  openfl-workspace/keras_cnn_mnist/requirements.txt
  openfl/experimental/workflow/workspace_export/export.py
  setup.py
  tests/github/pki_wrong_cn.py
Labels: workflow_interface, eden_compression

#1195 Introduce `callbacks` API
  docs/openfl.callbacks.rst
  docs/openfl.rst
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/101_torch_cnn_mnist/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/101_torch_cnn_mnist/src/utils.py
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/102_aggregator_validation/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/102_aggregator_validation/src/utils.py
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/104_keras_mnist/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/104_keras_mnist/src/utils.py
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/301_torch_cnn_mnist_watermarking/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/301_torch_cnn_mnist_watermarking/src/utils.py
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/501_pytorch_tinyimagenet_transfer_learning/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/501_pytorch_tinyimagenet_transfer_learning/src/utils.py
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/vertical_fl/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/vertical_fl/src/utils.py
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/vertical_fl_two_party/plan/plan.yaml
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/vertical_fl_two_party/src/utils.py
  openfl-workspace/torch_cnn_mnist_eden_compression/plan/plan.yaml
  openfl-workspace/torch_cnn_mnist_eden_compression/src/mnist_utils.py
  openfl-workspace/torch_cnn_mnist_fed_eval/plan/plan.yaml
  openfl-workspace/torch_cnn_mnist_fed_eval/src/mnist_utils.py
  openfl-workspace/torch_cnn_mnist_straggler_check/plan/plan.yaml
  openfl-workspace/torch_cnn_mnist_straggler_check/src/mnist_utils.py
  openfl-workspace/torch_llm_horovod/plan/plan.yaml
  openfl-workspace/torch_llm_horovod/src/emotion_utils.py
  openfl-workspace/workspace/plan/defaults/aggregator.yaml
  openfl/callbacks/__init__.py
  openfl/callbacks/callback.py
  openfl/callbacks/callback_list.py
  openfl/callbacks/lambda_callback.py
  openfl/callbacks/memory_profiler.py
  openfl/callbacks/metric_writer.py
  openfl/component/aggregator/aggregator.py
  openfl/component/collaborator/collaborator.py
  openfl/federated/plan/plan.py
  openfl/transport/grpc/aggregator_server.py
  openfl/utilities/logs.py
  tests/openfl/component/collaborator/test_collaborator.py
Labels: pull_ready
