Repository securefederatedai/openfl, pull requests merged in 2025-02, with the labels that each got.

#1320 Refactor to eliminate C901
  openfl/experimental/workflow/interface/cli/collaborator.py
  openfl/experimental/workflow/utilities/metaflow_utils.py
  openfl/experimental/workflow/utilities/runtime_utils.py
  openfl/experimental/workflow/workspace_export/export.py
  openfl/federated/plan/plan.py
Labels: workflow_interface

#1327 [Workflow Interface]: Fix for FederatedRuntime with TLS (Issue #1265)
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/workspace/plan/defaults/network.yaml
  openfl/experimental/workflow/federated/plan/plan.py
  openfl/experimental/workflow/runtime/federated_runtime.py
  openfl/experimental/workflow/workspace_export/export.py
Labels: workflow_interface

#1358 TaskRunner E2E - Adding keras/jax/mnist and keras/torch/mnist models
  .github/workflows/pr_pipeline.yml
  .github/workflows/task_runner_basic_e2e.yml
  .github/workflows/task_runner_dockerized_ws_e2e.yml
  .github/workflows/task_runner_e2e_resiliency.yml
  .github/workflows/task_runner_fedeval_dws_e2e.yml
  .github/workflows/task_runner_fedeval_e2e.yml
  .github/workflows/test_task_runner_basic_e2e.yml
  .github/workflows/test_task_runner_dockerized_ws_e2e.yml
  tests/end_to_end/test_suites/tr_resiliency_tests.py
  tests/end_to_end/utils/constants.py
  tests/end_to_end/utils/federation_helper.py
  tests/end_to_end/utils/tr_workspace.py
Labels: task_runner_e2e

#1360 Task Runner E2E Workflows - Skip Keras for Python 3.12
  .github/workflows/task_runner_basic_e2e.yml
  .github/workflows/task_runner_dockerized_ws_e2e.yml
  .github/workflows/task_runner_e2e_resiliency.yml
Labels: task_runner_e2e

#1376 [WIP] [Workflow Interface] Fix for FederatedRuntime bringup in distributed infrastructure (backport PR #1327 in OpenFL v1.7.x)
  openfl-workspace/experimental/workflow/AggregatorBasedWorkflow/workspace/plan/defaults/network.yaml
  openfl/experimental/workflow/federated/plan/plan.py
  openfl/experimental/workflow/runtime/federated_runtime.py
  openfl/experimental/workflow/workspace_export/export.py
Labels: workflow_interface

#1378 Streamlining PR pipeline
  .github/workflows/double_ws_export.yml
  .github/workflows/pr_pipeline.yml
  .github/workflows/task_runner_basic_e2e.yml
  .github/workflows/task_runner_e2e_resiliency.yml
  .github/workflows/taskrunner_eden_pipeline.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  .trivyignore
  tests/end_to_end/utils/constants.py
  tests/github/test_double_ws_export.py
Labels: workflow_interface, eden_compression

#1396 Add Secure Aggregation Workflow in pipeline
  .github/workflows/pr_pipeline.yml
  .github/workflows/wf_functional_e2e.yml
  .github/workflows/wf_secagg_fed_runtime.yml
  .github/workflows/wf_watermarking_fed_runtime.yml
  openfl-tutorials/experimental/workflow/SecAgg/workspace/MNIST_SecAgg.ipynb
  openfl/protocols/director.proto
  openfl/protocols/interceptors.py
  tests/end_to_end/test_suites/wf_federated_runtime_tests.py
  tests/end_to_end/utils/federation_helper.py
  tests/end_to_end/utils/summary_helper.py
Labels: workflow_interface
